<%= form_with model: @book, local: true, class: "space-y-4 max-w-lg mx-auto" do |form| %>
  <div>
    <%= form.label :title, class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :title, class: "w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div>
    <%= form.label :author, class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :author, class: "w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div>
    <%= form.label :category_ids, "Categories", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true, class: "w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" } %>
  </div>

  <div>
    <%= form.label :image, 'Upload Image', class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.file_field :image, class: "w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>  <!-- Add this if you are associating with the user -->

  <% if @book.errors.any? %>
    <div class="errors text-red-600">
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit "Create Book", class: "w-full py-3 bg-blue-500 text-black rounded-md hover:bg-blue-600 transition duration-300" %>
  </div>
<% end %>
